<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Template</title>

    <!-- Bootstrap core CSS -->
    <link href="css/vendor.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/app.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Inventory</a>
        </div>

        <form class="navbar-form navbar-right search" role="search">
          <div class="btn-group">
            <input id='search' type="search" ng-model='customSearch' class="form-control">
            <span id="searchclear" ng-click='customSearch = ""' class="fa fa-close"></span>
          </div>
        </form>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">

          </ul>
        </div>
      </div>

    </nav>

    <div class="container-fluid">


      <div class="content row">

        <div class='product-list' ng-class="{'col-md-12': !edit, 'col-md-3': edit}">
          <table class='table table-hover'>
            <thead>
              <tr>
                <th>Product Number</th>
                <th ng-hide='edit'>Product Name</th>
                <th ng-hide='edit'>Price</th>
                <th ng-hide='edit'>Make</th>
                <th ng-hide='edit'>Model</th>
                <!-- <th ng-hide='edit'>Tags</th> -->
              </tr>
            </thead>
            <tbody>
              <tr inventory class='pointer' ng-click='edit()' ng-repeat='item in inventory | customSearch' ng-model='item'></tr>
            </tbody>
          </table>
        </div>

        <div ng-show='edit' class='col-md-9'>
          <product item='current_item'></product>
        </div>

      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/vendor.js"></script>
    <script src="js/templates.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>