<div class="modal-header">
    <h3 class="modal-title">Add Tag</h3>
</div>
<div class="modal-body">
    <input type='text' class='form-control' ng-model='tag_input' />
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="save()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>