<td>{{ item.product_number }}</td>
<td ng-hide='$parent.edit'>{{ item.product_name }}</td>
<td ng-hide='$parent.edit'>${{ item.price | number:2 }}</td>
<td ng-hide='$parent.edit'>{{ item.make }}</td>
<td ng-hide='$parent.edit'>{{ item.model }}</td>
<!-- <td ng-hide='$parent.edit'><a href='#' ng-click='openTags()'>Tags</a></td> -->
