<h2 class='pull-right btn btn-default' ng-click='$parent.edit = false'><span class='fa fa-close'></span></h2>
<h2>{{ item.product_number }} - {{ item.product_name }}</h2>
<br />
<div class='row form-horizontal'>

  <div class='col-md-8'>

    <h3>Details</h3>

    <div class="form-group">
      <label for="inputProductNumber" class="col-sm-3 control-label">Product Number</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="inputProductNumber" ng-model='item.product_number' placeholder="Product Number">
      </div>
    </div>
    <div class="form-group">
      <label for="inputProductName" class="col-sm-3 control-label">Product Name</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="inputProductName" ng-model='item.product_name' placeholder="Product Name">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPrice" class="col-sm-3 control-label">inputPrice</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="inputPrice" ng-model='item.price' placeholder="inputPrice">
      </div>
    </div>
    <div class="form-group">
      <label for="inputMake" class="col-sm-3 control-label">Make</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="inputMake" ng-model='item.make' placeholder="Make">
      </div>
    </div>
    <div class="form-group">
      <label for="inputModel" class="col-sm-3 control-label">Model</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="inputModel" ng-model='item.model' placeholder="Model">
      </div>
    </div>

  </div>

  <div class='col-md-4'>

    <h3 class='pull-right pointer' ng-click='addTag()'><span class='fa fa-plus-circle'></span></h3>
    <h3>Tags</h3>

    <ul class='list-group'>
      <li class='list-group-item' ng-repeat='tag in item.tags'>{{ tag }}<span class='pointer pull-right fa fa-minus-circle' ng-click='remove(tag)'></span></li>
    </ul>

  </div>

</div>