@import "loading";
html {
    height: 100%;
    margin: 0;
}
 
body {
    padding-top: 50px;
    height: calc(100% - 50px);
    margin: 0;
    @media (max-width: 767px) {
        padding-bottom: 0px;
    }
    position: relative;
}


.search {
    width: 400px;

    div {
        width: 100%;
        text-align: right;

        #search {
            width: 170px;
            transition:width 0.3s ease-in-out;

            &:focus {
                width: 100%;
                transition:width 0.5s ease-in-out;
            }
        }
        #searchclear {
            position: absolute;
            right: 5px;
            top: 0;
            bottom: 0;
            height: 14px;
            margin: auto;
            font-size: 14px;
            cursor: pointer;
            color: #ccc;
        }

    }

}

.pointer {
    cursor: pointer;
}

.content {
    position: absolute;
    height: 100%;
    width: 100%;

    .product-list {
        height: 100%;
        overflow-y: auto;
    }

}